<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} softtek interview {% endblock %}</title>

   <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 20%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
   </style> 
    

</head>
<body>
    {% include 'navbar.html' %}
    <main id="main">
    {% block content %}

    {% endblock %}

    </main>

</body>
</html>